.header-v5 #header { border: none;}
#nav.nav-holder .navigation > li > a { text-decoration: none; font-family: 'Helvetica Neue', sans-serif, arial; text-transform: uppercase; font-weight: 100; letter-spacing: 1px;}
#wrapper #nav .fusion-navbar-nav .fusion-megamenu-wrapper li a { font-family:  'Helvetica Neue', sans-serif, arial; text-transform: uppercase; font-size: 11pt;}
#wrapper #nav .fusion-navbar-nav .fusion-megamenu-wrapper li a:hover { color: #27100a;}
#wrapper .fusion-megamenu-wrapper.col-span-3 { width: 160px;}
#wrapper .fusion-megamenu-wrapper .fusion-megamenu-holder { border: none;}
#nav .fusion-navbar-nav .fusion-megamenu-wrapper .fusion-megamenu-holder .fusion-megamenu .fusion-megamenu-submenu, #sticky-nav .fusion-navbar-nav .fusion-megamenu-wrapper .fusion-megamenu-holder .fusion-megamenu .fusion-megamenu-submenu { border: none; display: block; width: 100%;}
	#sticky-nav .fusion-navbar-nav .fusion-megamenu-wrapper .fusion-megamenu-holder .fusion-megamenu .fusion-megamenu-submenu h3 { font-family: 'Helvetica Neue', sans-serif, arial; padding: 0 34px 15px 27px; font-size: 11pt; text-transform: uppercase;}
		#wrapper #sticky-nav ul li ul li a:hover { color: #27100a;}

.newsletter form table { width: 100%;}
.newsletter form table tbody tr * { display: inline-block;}
.newsletter form table tbody tr th { width: 100px; text-align: right; padding-right: 10px; font-family: 'Helvetica Neue', sans-serif, arial; margin-bottom: 5px;}
.newsletter form table tbody tr td { width: calc(100% - 100px);}
.newsletter form table tbody tr td.newsletter-td-submit { margin-left: 100px; margin-top: 10px;}
.newsletter form table tbody tr td input { border: none; width: 100%;}
.newsletter form table tbody tr td.newsletter-td-submit input { background: #dec162; color: white; text-transform: uppercase;}

#main { padding: 0 0 25px;}
	#main .container { max-width: none;}
	#main .full-width h1 { text-align: center; text-transform: uppercase; margin: .67em;}
	#main .full-width hr { width: 20%; margin: 20px auto 0px; border-top: 1px solid gray;}
	#main .page-photos hr { margin-bottom: 30px;}
	#main .page-home { width: 100%;}

.page-home .row { padding-top: 25px;}
.homebox { height: 335px; background: #27100a; color: #dec162; text-align: center; border-left: 1px solid white; border-right: 1px solid white;}
.homebox:nth-child(1) { padding-left: 30px !important;}
.homebox:nth-child(2) { }
	.homebox h2 { margin-top: 20px;text-align: center; text-transform: uppercase; color: #dec162; font-family: 'Helvetica Neue', sans-serif, arial !important;}
	.homebox hr { width: 40% !important;}
	.homebox button { background: #dec162; color: white; border: none; min-width: 200px; text-transform: uppercase;}

.page-videos section #huge_it_videogallery, .page-photos section #huge_it_gallery { background-color: #ffffff; box-shadow: none;}
	.page-videos section #huge_it_videogallery .huge_it_big_li, .page-photos section #huge_it_gallery .huge_it_big_li { border: none; border-radius: 0px;}
		.page-videos section #huge_it_videogallery .huge_it_big_li img, .page-photos section #huge_it_gallery .huge_it_big_li img { border-radius: 0px; border: none;}
		.page-videos section #huge_it_videogallery .huge_it_big_li .infoLayer, .page-photos section #huge_it_gallery .huge_it_big_li .infoLayer { border-radius: 0px; background-color: rgba(0,0,0,0.7);}
.page-videos section div, .page-photos section div { display: none;}

.tagline { background: #dec162; text-transform: uppercase; font-weight: 50; text-align: center; min-height: 60px;}
	.tagline p { font-size: 22pt; margin: 10px auto; font-weight: 100;}
.main-slider-container { max-width: 1260px; display: block; margin-left: 50% !important; transform: translateX(-50%); overflow: hidden;}
.makeover-takeover-slider-container { overflow: hidden; height: 155px;}
#main > div > div > div.row > div:nth-child(3) > div > div > div.swiper-slide > img { height: 100%; width: auto;}

nav#sticky-nav .navigation { font-family: 'Helvetica Neue', sans-serif, arial; font-weight: 100; letter-spacing: .3px;}
#sticky-nav ul li { padding: 0 15px;}
	#sticky-nav ul li a:hover { color: #dec162; text-decoration: none;}
#sticky-nav ul .current_page_item a { color: #dec162; border-color: #dec162;}
/*@media only screen and (max-width: 1299px) {
	.swiper-container { height: 448px;}
}
@media only screen and (max-width: 1199px) {
	.swiper-container { height: 369px;}
}
@media only screen and (max-width: 991px) {
	.swiper-container { height: 282px;}
}*/

ul.fusion-megamenu li {
	padding: 10px 0 2px 0 !important;
	width: 25px;
}
ul.about-menu, ul.faq-menu, ul.mpb-menu { list-style: none; padding: 0; text-transform: uppercase; font-weight: bold; font-size: 12pt;}
	ul.about-menu li, ul.faq-menu li, ul.mpb-menu li { border-top: 1px solid gray; padding: 15px 0;}
	ul.about-menu li:nth-child(1), ul.faq-menu li:nth-child(1), ul.mpb-menu li:nth-child(1) { border:none;}
ul.main-menu { list-style: none; text-align: center;}
	ul.main-menu li { display: inline-block;}
		ul.main-menu li a { padding-right: 20px;}
		ul.main-menu li ul { display: inline-block; padding-left: 0;}

.background.background-image { background-size: 100% !important;}

@media only screen and (max-width: 1119px) {
	.makeover-takeover-slider-container { height: 135px;}
}
@media only screen and (max-width: 767px) {

}
