
#main { padding-top: 25px; padding-bottom: 25px;}
	#main .container { max-width: none;}
	#main .full-width h1 { text-align: center; text-transform: uppercase; margin: .67em;}
	#main .full-width hr { width: 20%; margin: 20px auto 0px; border-top: 1px solid gray;}
	#main .page-photos hr { margin-bottom: 30px;}
	#main .page-home { padding: 0 20px;}

.page-home .row { padding-top: 25px;}
	.page-home .homebox { height: 335px; margin-bottom: 30px;}
	.page-home .homebox.doubleHeight { height: 700px;}
		.page-home .homebox div{ height: 100%; /*border: 1px solid gray*/;}
			.page-home .homebox div h2 { text-align: center; text-transform: uppercase;}
			.page-home .homebox div hr { width: 40% !important;}
			.page-home .homebox div img { width: 80%; margin-left: 10%;}

.page-videos section #huge_it_videogallery, .page-photos section #huge_it_gallery { background-color: #ffffff; box-shadow: none;}
	.page-videos section #huge_it_videogallery .huge_it_big_li, .page-photos section #huge_it_gallery .huge_it_big_li { border: none; border-radius: 0px;}
		.page-videos section #huge_it_videogallery .huge_it_big_li img, .page-photos section #huge_it_gallery .huge_it_big_li img { border-radius: 0px; border: none;}
		.page-videos section #huge_it_videogallery .huge_it_big_li .infoLayer, .page-photos section #huge_it_gallery .huge_it_big_li .infoLayer { border-radius: 0px; background-color: rgba(0,0,0,0.7);}
.page-videos section div, .page-photos section div { display: none;}


#cboxTopLeft, #cboxTopCenter, #cboxTopRight, #cboxMiddleLeft, #cboxMiddleRight, #cboxBottomLeft, #cboxBottomCenter, #cboxBottomRight { display: none;}
#cboxContent { height: 530px !important;}
#cboxNext { background: url(images/controls.png) no-repeat -50px 0 !important;}
#cboxPrevious { background: url(images/controls.png) no-repeat -75px 0 !important;}
#cboxCurrent { color: white !important;}



ul.fusion-megamenu li {
	padding: 10px 0 2px 0 !important;
	width: 25px;
}
ul.about-menu, ul.faq-menu, ul.mpb-menu { list-style: none; padding: 0; text-transform: uppercase; font-weight: bold; font-size: 12pt;}
	ul.about-menu li, ul.faq-menu li, ul.mpb-menu li { border-top: 1px solid gray; padding: 15px 0;}
	ul.about-menu li:nth-child(1), ul.faq-menu li:nth-child(1), ul.mpb-menu li:nth-child(1) { border:none;}
ul.main-menu { list-style: none; text-align: center;}
	ul.main-menu li { display: inline-block;}
		ul.main-menu li a { padding-right: 20px;}
		ul.main-menu li ul { display: inline-block; padding-left: 0;}

.background.background-image { background-size: 100% !important;}
